.greet{
    text-align: center;
 }
 
 .speach{
     color: blue;
     text-align: center;
 }
 
 .new{
     color: black;
     text-align: center;
 }
 
 
 body{
     background-color: rgb(230, 234, 236);
 }
 
 h5{
     color: blueviolet;
     text-align: center;
 }
 
 p{
     color: rgb(0, 17, 255);
     text-align: center;
 }
 
 h6{
     text-align: center;
 }

 .newTeacher{
      margin-left: 40%;
      border:solid;
      width:20%;
  }