.greet{
    text-align: center;
 }
 
 .speach{
     color: blue;
     text-align: center;
 }
 
 .new{
     color: black;
     text-align: center;
 }
 
 
 body{
     background-color: rgb(230, 234, 236);
 }
 
 h3{
     color: blueviolet;
     text-align: center;
 }
 
 p{
     color: rgb(0, 17, 255);
     text-align: center;
 }
 
 h1{
     text-align: center;
 }
 